
@import '../../mixins';

#main-page-wrapper{
  @include size(100%);
  background-image: url('/MainPageBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  position: relative;
}

#main-page-content{
  height: 100%;
  min-height: 650px;
  position: relative;
  .container-fluid, .row, [class^=col-]{
    height: 100%;
  }

  .center-container-box{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
  }
  .main-box{
    margin-top: -70px;
  }
  #main-feature{
    position: relative;
    background: rgba(255,255,255,0.4);
    margin-bottom: 5px;
    max-width: 400px;
    @include border-radius(10px);
    h3{
      font-size: 20px;
      color: #2B1B1B;
      text-shadow: none;
      margin-top: 10px;
      text-shadow: 0px 5px 10px rgba(0,0,0,.5);
      padding: 0px 15px 10px;
    }
    .list-icons{
      background: rgba(0,0,0,0.5);
      padding: 10px 20px;
      @include flexbox();
      @include align-content(center);
      @include justify-content(center);
      @include border-radius(10px 10px 0px 0px);
      span{
        @include flex(1);
        i{
          @include size(40px);
          @include border-radius(50%);
          line-height: 40px;
          text-align: center;
          font-size: 16px;
          background: rgba(255,255,255,0.8);
          color: #955F5F;
        }
      }
    }
  }
  #main-logo{
    @include border-radius(50%);
    @include opacity(0.8);
    @include size(70px);
    @include box-shadow(0px 5px 10px rgba(0,0,0,.5));
  }
  h3{
    color: rgba(255,255,255,.7);
    font-size: 30px;
    font-family: roboto, sans-serif;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .5pt;
    margin: 5px;
    text-shadow: 0px 5px 10px rgba(0,0,0,.5);
  }
  h4{
    color: #D0D0D0;
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .5pt;
    margin: 5px;
    margin-bottom: 10px;
    @include opacity(.8);
    text-shadow: 0px 5px 10px rgba(0,0,0,.5);
  }

  button.start-button{
    border: none;
    background: rgba(0,0,0,.8);
    color: #54D788;
    @include border-radius(50%);
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 10px;
    @include size(70px);
    @include animation(0s,2s,upAndDown,ease-out,infinite);
    @include box-shadow(0px 5px 10px rgba(0,0,0,.5));
    span {
      display: block;
      line-height: 15px;
      &.action {
        font-size: 15px;
      }
    }

    &:focus{
      outline: 0px;
    }
  }
  .navigation-down{margin-bottom: 50px;}
}
.navigation-message{
  p{
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    text-shadow: 0px 5px 10px rgba(0,0,0,.5);
  }
  button.navigation-down{
    margin-bottom: 20px;
    background: rgba(255,255,255,0.6);
    border: none;
    @include size(45px);
    @include border-radius(50%);
    font-size: 17px;
    line-height: 45px;
    &:focus{outline: 0px;}
    &:hover{background: rgba(255,255,255,0.8)}
    @include box-shadow(0px 5px 10px rgba(0,0,0,.5));
  }
}
.feature-wrapper{
  position: relative;
  padding: 40px 40px;
  height: 100%;
  min-height: 650px;
  .row, [class^='col-']{
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  &.inverse{
    .feature-box{
      @include flex-direction(row-reverse);
    }
  }
  .feature-box{
    @include flexbox;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;

    .feature-image{
      width: 60%;
      padding: 20px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      text-align: center;
      height: 100%;
      img{
        width: 100%;
      }
    }
    .feature-description-wrapper{
      color: rgba(255,255,255,0.7);
      @include flex(1);
      padding: 20px;
      @include flexbox;
      @include align-items(center);
      height: 100%;
      .feature-description{
        width: 100%;
        font-size: 16px;
        p{
          font-weight: lighter !important;
        }
        i{
          @include size(70px);
          @include border-radius(50%);
          background: #DDDEDF;
          line-height: 70px;
          font-size: 32px;
        }
        h3{
          font-weight: lighter !important;
          font-size: 30px;
        }
        button{
          margin-top: 10px;
          background: transparent;
          padding: 5px 10px;
          @include border-radius(5px);
          border: 1px solid white;
          font-size: 16px;
          &:focus{outline: 0px;}
          i{
            @include size(20px);
            line-height: 20px;
            font-size: 14px;
          }

        }
      }


    }
  }


  &.recordings{
    @include gradient(#FD3D3D, #FF7A7A,vertical);
    i{color: #FD3D3D;}
    button{
      &:hover{
        background: #FF7A7A !important;
      }
    }
  };
  &.contacts{
    @include gradient(#3A3C55, #6A70E6 ,vertical);
    i{color: #3A3C55;}
    button{
      &:hover{
        background: #6A70E6 !important;
      }
    }
  }
  &.full-responsive{
    @include gradient(#161414, #6B584E,vertical);
    i{color: #3A3C55;}
    button{
      &:hover{
        background: #6A70E6 !important;
      }
    }
  }
  &.replies{
    @include gradient(#5A3A7D, #82333F,vertical);
    i{color: #724E72;}
    button{
      &:hover{
        background: #953F94 !important;
      }
    }
  }
  &.conversations{
    @include gradient(#344D39, #53B268,vertical);
    i{color: #344D39;}
    button{
      &:hover{
        background: #53B268 !important;
      }
    }
  };
  &.emails{
    @include gradient(#A96A5A, #F17E37,vertical);
    i{color: #A96A5A;}
    button{
      &:hover{
        background: #F17E37 !important;
      }
    }
  };
  &.lessons{
    @include gradient(#333857, #3956FD,vertical);
    i{color: #333857;}
    button{
      &:hover{
        background: #3956FD !important;
      }
    }
  }
  &.channels{
    @include gradient(#3D1D48, #664073,vertical);
    i{color:#3D1D48;}
    button{
      &:hover{
        background: #664073 !important;
      }
    }
  }
  &.tutorials{
    @include gradient(#0B335B, #256CB3,vertical);
    i{color:#0B335B;}
    button{
      &:hover{
        background: #256CB3 !important;
      }
    }
  }
  &.profile{
    @include gradient(#903B3B, #603737,vertical);
    i{color:#903B3B;}
    button{
      &:hover{
        background: #603737 !important;
      }
    }
  }
  button.navigation-down{
    background: rgba(255,255,255,0.4) !important;
    &:hover{
    background: rgba(255,255,255,0.6) !important;
    }
  }
}
#tutorials-wrapper{
  height: 100%;
  padding: 20px 40px;
}
#footer-page{
  .social-icon{
    i{
      @include size(40px);
      line-height: 40px;
      background: #707070;
      margin: 5px 10px;
      color: #B7B6B6;
      @include border-radius(50%);
      font-size: 20px;
    }
    cursor: pointer;
    &:hover{
      i{background: #4E4C4C;}
    }
  }
  .copyright{
    color: #555454;
    padding: 10px 0px;
  }
  padding: 20px 40px;
  background: #B7B6B6;
}


@include keyframes(bubble){
  0%{@include transform(scale(.5,.5)); @include opacity(0);}
  70%{@include transform(scale(1.1,1.05)); @include opacity(1);}
  100%{@include transform(scale(1,1));}
}

@include keyframes (bubble-inverse){
  0%{@include transform(scale(1,1));}
  30%{@include transform(scale(1.1,1.05)); @include opacity(1);}
  100%{@include transform(scale(.5,.5)); @include opacity(0);}
}

@include keyframes(upAndDown){
  0%{margin-top: 5px;}
  55%{margin-top: 30px;}
  100%{margin-top: 0px;}
}

@include mquery(800px){
  .feature-wrapper{
    .row, div[class^='col-']{
      @include size(100%,auto);
    }
    .feature-box{
      @include flex-direction(column);
      .feature-image{
        @include size(100% !important, 300px);
        img{
          margin-top: -30px;
          max-height: 100%;
          width: auto;
        }
      }
      .feature-description-wrapper{
        h3{
          font-size: 25px !important;
        }
      }
    }
  }
}
@include mquery(700px){
  .feature-wrapper{
    padding: 15px;
  }
}

@include mquery(400px){
  #footer-page{
    .social-icon i{
        @include size(35px !important);
        line-height: 35px !important;
        font-size:16px !important;
        margin: 10px 5px;
    }
  }
  .feature-wrapper{
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
