@import 'mixins';


html,body{
  @include size(100%);
  background: #DCDBDB;
  font-family: roboto, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: subpixel-antialiased;
}

img.emoji{
  @include size(1.5em !important);
  margin: 0 .05em 0 .1em;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: white;
  &:hover{
	color: white;
	text-decoration: none;
  };
  &:focus{outline: 0px;}
}

.tooltip-inner{
  padding: 5px;
  text-indent: 0px;
}
.content-wrapper{
  padding: 60px 50px;
  &.type-2{
    padding-top: 20px;
  }
}

.content-header-wrapper{
  padding: 0px 15px 15px;
  text-align: center;
  .content-header{
    position: relative;
    h3{
      font-weight: 100;
      color: #616161;
      font-size: 30px;
    }
    .content-header-img{
      img{
        @include size(120px);
        @include border-radius(50%);
      }
      a{
        position: absolute;
        &:focus{text-decoration: none; color: white;}
      }
    }
  }
}

/*basic content*/
.content{
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-size: 16px;
  background: #FBFAFA;
  @include box-shadow(0px 2px 10px grey);
  min-width: 700px;
  margin-bottom: 20px;
  &.transparent{
    background: transparent;
    @include box-shadow(none);
  }
}

.content-body{
  padding: 0px 0px 20px;
  .new-panel{
    font-size: 16px;
    color: #7A7979;
    margin: 20px 25px 0px;
    background: #E9E7E7;
    @include border-radius(10px);
    padding: 20px 0px;
    border: 2px dashed #8B8B8B;
    a{
      color: #F87474;
      font-size: 40px;
      &:focus, &:hover{
        color: #FA6363;
        outline: 0px;
      }
    }
  }
}


/*CARDS*/

.duckflight-card{
  margin: 15px;
  color: #585757;
  .card-content{
    padding-left: 230px;
    min-height: 120px;
  }
  .absolute-col{
    @include position(absolute,$left:0,$top:0);
  }
  .card-image {
    position: relative;
    .duration-tag-cover{
      z-index: 1;
      @include position(absolute,$bottom:0);
      width: 100%;
      p{
        margin: auto;
        span{
          font-size: 14px;
          background: rgba(0,0,0,0.4);
          color: #DCDCDC;
          padding: 0px 5px;
        }
      }
    }
    .info-tags-cover{
      position: absolute;
      z-index: 1;
      width: 100%;
      padding: 5px;
      p{margin: auto;}
      span{
        height: 25px;
        color: #FCFAFA;
        padding: 2px 10px;
        @include border-radius(36px);
        font-size: 15px;
        margin-left: 5px;

        &.channel-tag{  background: #FB6767;  }
        &.lesson-tag{  background: #5671FA;  }
        &.reply-tag{  background: #56FAB8;  }
      }
    }
    .image-hover {
      background: rgba(0, 0, 0, .4);
      position: absolute;
      @include size(100%);
      visibility: hidden;
      text-align: center;
      i {
        margin-top: 45px;
        color: #AF0606;
        font-size: 30px;
        &:hover {
          color: #DD4242;
        }
      }
    }
    img {
      object-fit: cover;
    }
    &:hover {
      .image-hover {
        cursor: pointer;
        visibility: visible;
      }
    }
  }

  .card-caption{
    font-size: 14px;
    padding: 5px 10px;
    ul{
      list-style: none;
      li{
        line-height: 18px;
        &.button-browse{
          display: inline-block;
        }
      }
    }
    .card-title{
      font-size: 16px;
      font-weight: 500;
      color: #5C5C5C;
      cursor: pointer;
      &:hover{
        color: #4A4A4A;
      }
    }
    .card-author{
      color: #DD4242;
      cursor: pointer;
      font-weight: 500;
    }
    .card-counters{
      span{
        display: inline-block;
        cursor: text;
        font-size: 12px;
      }
      .counter{
        margin: 0px 2px 0px 2px;
      }
    }
    .card-description{
      font-size: 13px;
    }
    .button-from{
      margin: 5px;
      color: #818181;
      border: 1px solid #818181;
      padding: 3px 10px;
      @include border-radius(20px);
      background: transparent;
      &:focus{outline: 0px;}
      &:hover{
        color: #696868;
        border: 1px solid #696868;
      }
    }
  }
}

/*END CARDS*/


.absolute-top{
  @include position(absolute,$top:0);
  width: 100%;
}

.absolute-bottom{
  @include position(absolute,$bottom:0,$left:0);
  width: 100%;
}

.inline{
  display: inline-block;
}

/*HELPER MODULE*/

#help-module{
  margin-bottom: 15px;
  .help-header{
    i{
      color: #E7E7E7;
      cursor: pointer;
      background: #5047D2;
      @include size(40px);
      line-height: 40px;
      font-size: 16px;
      @include border-radius(50%);
      @include box-shadow(0px 2px 10px grey);
      &:hover{
        background: #6156FA;
        color: white;
      }
    }
  }
  span{
    color: #565387;
    padding: 10px 0px 10px 10px;
    @include border-radius(20px);
  }
  .list-tutorials{
    padding: 5px 0px;
    background: #EBEBED;
    margin: 10px 0px 20px 0px;
    @include border-radius(10px);
    h3{
      color: #4E4A80;
    }
    ul{
      color: #979797;
      font-size: 16px;
      list-style: none;
      padding-left: 0;
      li{
        padding: 10px;
        cursor: pointer;
        line-height: 20px;
        @include transition(all,.5s,ease-in);
        &:hover{
          padding-left: 15px;
          color: #888EFC;
          font-size: 17px;
          border-left: 2px solid #4E4A80;
          border-right: 2px solid #4E4A80;
          background: #E1E1E1;
          @include transition(all,.5s,ease-in);
        }
      }
    }
  }
}

/*MEDIA*/

@include mquery(990px){
  .content-wrapper{
    padding-top: 100px;
    &.type-2{
      padding-top: 30px;
    }
    &.conversation-page-wrapper{
      padding: 0px !important;
      padding-top: 45px !important;
    }
  }
}

@include mquery(600px){
  .content-wrapper{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@include mquery(720px){
  .duckflight-card-horizontal{
    text-align: center;
    .card-content{padding-left: 0px;}
    .absolute-col{position: relative;}
    .card-caption{
      ul{padding-left: 5px;}
    }
  }
}

