
@import '../../../mixins';

.player-wrapper{
  .container-fluid{padding: 0px};
  .row{margin: 0px;}
  [class^=col]{padding: 0px;}
  font-family: roboto, sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0px 15px;
  @include box-shadow(0px 2px 10px grey);
  .header-player{
    color: #F0EFEF;
    padding: 0px;
    border-bottom: 2px solid #F25252;
    .title{
      margin: 0px;
      padding: 10px 15px;
      background: #DC4747;
      color: #493030;
      font-size: 20px;
      border-bottom: 2px solid #513030;
    }
    .description{
      span{font-size: 16px;}
      position: relative;
      padding: 10px 15px 40px;
      background: #393939;
      .banner-tags{
        padding-bottom: 10px;
        p{
          font-size: 16px;
          margin: auto;
        }
        ul{
          padding: 0px;
          list-style: none;
          margin: auto;
          .tag{
            color: #3B3B3B;
            display: inline-block;
            padding: 2px 5px;
            margin: 5px 0px;
            background: #AEAEAE;
            @include border-radius(5px);
            font-size: 12px;
          }
        }
      }

      .browse-button{
        background: rgba(0,0,0,0.3);
        padding: 5px 10px;
        @include border-radius(10px);
        cursor: pointer;
        &:hover{
          background: rgba(0,0,0,0.5);
        }
      }
      .doc-actual-info{
        @include border-radius(5px 20px 0px 0px);
        height: 40px;
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        background: #F25252;
        padding: 10px 20px 10px 15px;
        span{
          font-size: 12px;
          padding: 2px 10px;
          @include border-radius(10px);
          background: #C9C8C8;
          color: #666565;
        }
      }
      .like-action{
        position: absolute;
        bottom: 5px;
        right: 10px;
        button{
          @include size(40px);
          @include border-radius(50%);
          background: rgba(0,0,0,0.5);
          border: none;
          &:focus{outline: 0px;}
        }
        #like_button{
          &:hover{
            color: white;
          }
          &.active{
            color: #F76363;
          }
        }
        #show-play-list{
          &.active{
            background: #F25252;
          }
        }
      }
    }
  }

  .banner-navbar{
    background: #2B2B2B;
    color: #CECDCD;
    font-size: 14px;
    height: 40px;
  }
  .banner-navbar-vertical{
    background: #2B2B2B;
    color: #CECDCD;
  }
  .creator-box{
    border-left: 1px solid #515050;
    background: #4B3B4A;
    font-size: 16px;
    font-weight: 400;
    top: 0;
    color: #232223;
    padding: 20px 5px;
    img{
      @include size(50px);
      @include border-radius(50%);
      cursor: pointer;
    }
    .username{
      color: #DEDCDE;
      cursor: pointer;
    }
    .date{
      font-size: 13px;
      margin: 0px 10px;
      display: inline-block;
    }
    .info{
      display: inline-block;
      span{
        display: inline-block;
        font-size: 13px;
      }
    }
  }
  .box-options{
    border-top: 2px solid #B84646;
    width: 100%;
    background: #1B1B1B;
    color: #9C9A9A;
    button{
      border: none;
      background: #373636;
      @include border-radius(30px);
      padding: 2px 3px 2px 10px;
      font-size: 14px;
      i{
        background: black;
        padding: 5px 8px;
        border-radius: 30px;
        color: #F77575;
      }
      &:disabled{
        @include opacity(0.5);
        cursor: not-allowed;
      }
      &:focus{outline: 0px;}
    }
    padding: 5px 15px;
  }
}

.player{
  height: 400px;
  position: relative;
  #editor{
    @include size(100%);
    margin-left: 0px;
    z-index: 0;
    font-size: 1.2rem !important;
    overflow: scroll;
  }
  .loading-process-layer{
    position: absolute;
    top: 0;
    @include size(100%);
    z-index: 11;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    background: #474646;
    font-size: 31px;
    color: #979797;
    text-align: center;
    padding: 0px 15px;
    i{font-size: 40px;
    color:#FA3D3D;}
    .error{
      font-size: 22px;
    }
  }
  .auto-play-loader-wrapper{
    position: absolute;
    top: 0;
    @include size(100%);
    z-index: 9;
    background: rgba(0,0,0,0.4);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    .auto-play-loader{
      padding: 20px;
      p{font-size: 30px;}
      .countdown{
        font-size: 20px;
        color: #FA5757;
      }
      button{
        border: none;
        background: black;
        color: #8C8A8A;
        font-size: 15px;
        margin: 10px;
        padding: 10px 15px;
        &:hover{
          color: #B7B6B6;
        }
        &:focus{outline: 0px;}
      }
    }
  }

  .play-list-wrapper{
    position: absolute;
    top: 0;
    @include size(100%,0px);
    visibility: hidden;
    z-index: 10;
    @include opacity(0);
    @include transition(all, 0.3s, ease);
    .wrapper{
      padding: 70px 15px 50px;
      @include size(100%);
      position: relative;
      .pl-header{
        display: none;
        border-bottom: 1px solid #555555;
        background: rgba(0,0,0,0.1);
        top: 0;
        position: absolute;
        padding: 10px;
        @include size(100%,70px);
        left: 0;
        p{
          padding: 0px 5px;
          margin: auto;
          &.section-title-record{
            font-size: 18px;
            margin-bottom: 5px;
          }
          color: #D8D3D3;
          font-size: 16px;
          .counter{
            margin-top: 5px;
            font-size: 14px;
          }
        }
        .nav-button-pl{
          background: transparent;
          border: none;
          font-size: 15px;
          &:hover{color: white;}
          &:focus{outline: 0px;}
        }
      }

      .play-list{
        display: none;
        height: 100%;
        padding: 10px;
        overflow-y: scroll;
        .record-item-play-list{
          padding: 5px 10px;
          border-bottom: 1px solid #414141;
          @include flexbox;
          width: 100%;
          cursor: pointer;
          p{
            color: #A9A9A9;
            font-size: 14px;
            span{color:#FC4D4D; }
            @include flex(1);
            margin: auto;
          };
          img{
            @include size(100px, 60px);
            vertical-align: middle;
            margin-right: 20px;
          }
          &:hover{
            p{
              color: #DCDCDC;
            }
          }
          &.active{
            background: #E68E8E;
            p{
              color: #5A5959;
            };
          }
        }
      }
      .pl-footer{
        display: none;
        border-top: 1px solid #555555;
        background: rgba(0,0,0,0.1);
        position: absolute;
        padding: 13px;
        @include size(100%,50px);
        bottom: 0;
        left: 0;
        color: #929191;
        .play-option{
          display: inline-block;
          margin-left: 10px;
          span{
            margin-right: 5px;
            vertical-align: text-bottom;
          }
        }
      }
    }

    &.active{
      visibility: visible;
      height: 100%;
      @include opacity(1);
      background: #2A2A2A;
      @include transition(all, 0.3s, ease);
      .pl-header, .pl-footer, .play-list{
        display: block;
      }
    }
  }
  .touch-display-layer{
    position: absolute;
    top: 0;
    @include size(100%);
    .touch{
      cursor: pointer;
      height: 100%;
      position: relative;
      background: rgba(41, 44, 44, 0.2);
      padding-bottom: 40px;
      &.active{
        background: transparent;
      }
      .cover{
        height: 100%;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        button{
          border: none;
          background: rgba(15, 13, 13, 0.6);
          @include border-radius(50%);
          font-size: 20px;
          visibility: hidden;
          @include size(70px);
          z-index: 100;
          color: rgba(226, 228, 228, 0.7);
          &:hover, &:focus{ outline: 0;}
          &.active{
            visibility: visible;
            @include animation(0s,0.5s,twinkle,ease);
          }
        }
      }
      .player-help-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        .player-help{
          &.active{
            @include opacity(1);
          }
          padding: 10px;
          i{
            background: rgba(32, 32, 30, 0.5);
            @include size(45px);
            line-height: 45px;
            text-align: center;
            color: white;
            @include border-radius(50%);
          }
          @include opacity(0);
          @include transition(opacity, 0.5s, ease);
        }
      }
      .player-help-items{
        position: absolute;
        bottom: 40px;
        right: 0px;
        @include opacity(0);
        visibility: hidden;
        @include transition(all, 0.5s, ease);
        &.active{
          visibility: visible;
          @include opacity(.7);
          @include transition(all, 0.5s, ease);
        }
        ul{
          list-style: none;
          padding-left: 0px;
          padding-right: 5px;
          li{
            background: #EEECEC;
            max-width: 100%;
            padding: 5px 10px;
            @include align-items(center);
            @include border-radius(20px 5px 5px 20px);
            margin-bottom: 5px;
            i.main{
              color: white;
              background: black;
              @include size(30px);
              @include border-radius (50%);
              line-height: 30px;
              text-align: center;
            }
            @include flexbox();
            span{
              padding-left: 10px;
            }
          }
        }
      }
      .player-actions-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        .player-actions{
          &.active{
            @include opacity(1);
          }
          position: relative;
          padding: 10px;
          background: rgba(32, 32, 30, 0.5);
          @include opacity(0);
          @include transition(opacity, 0.5s, ease);
          @include flexbox;

          /**TRACKS STYLES**/
          input{
            margin: 0px 5px;
            display: inline;
            cursor: pointer;
          }
          input[type=range] {
            background: transparent;
            -webkit-appearance: none;
            width: 100%;
            margin: 2.6px 0;
            &:focus{
              outline: none;
            }
          }

          #progress{
            @include flex(1);
            @include thumb(transparent);
            @include runnable-track(rgba(17, 17, 17, 0.7));
          }
          #timer{
            font-size: 12px;
            margin-top: 2px;
          }
          #seeker{
            @include flex(1);
            top: 12px;
            z-index: 2;
            @include opacity(0);
            left: 35px;
            width: 72.5%;
            position: absolute;
            @include runnable-track($height: 10px);
          }
          #played-bar{
            position: absolute;
            background: #F25252;
            @include size(0,5.5px);
            top: 17px;
            z-index: 1;
            left: 30px;
            @include border-radius(10px);
          }
          #volume{
            width: 10%;
            @include runnable-track(rgba(17, 17, 17, 0.7));
            @include thumb;
          }
          .vol{
            width: 15px;
          }
          span{
            margin: 0px 5px;
            color: white
          }
          .playpaused{
            width: 15px;
          }
        }
      }
      &:hover{
        .player-actions, .player-help{
          @include opacity(1);
          @include transition(opacity, 0.5s, ease);
        }
      }
    }
  }
}

.onoffswitch {
  width: 36px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 21px; padding: 0; line-height: 12px;
  border: 0px solid #FFFFFF; @include border-radius(20px);
  background-color: #9E9E9E;
  @include transition(all, 0.3s, ease-out);
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 20px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  bottom: 5px;
  right: 17px;
  @include border-radius(27px);
  @include transition(all, 0.3s, ease-out);
  @include box-shadow(3px 2px 3px rgba(0, 0, 0, 0.3));
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #43F78B;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #43F78B;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  @include box-shadow(-3px 2px 3px rgba(0, 0, 0, 0.3));
  background-color: #FFFFFF;
}


.time-mark-list{
  padding: 20px 15px;
  .time-mark-line{
    display: flex;
    .time-mark{
      display: inline-block;
      position: relative;
      background: #FE6B6B;
      padding: 5px 10px;
      @include border-radius(15px);
      margin-right: 8px;
      color: #764949;
      i{
        @include size(20px);
        background: white;
        text-align: center;
        padding-top: 2px;
        @include border-radius(50%);
      }
      div{
        position: absolute;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 10px solid #FE6B6B;
        top: 6px;
        right: -7px;
      }
    }
    .line{
      @include flex(1);
      height: 2px;
      background: #CBCBCB;
      margin-top: 15px;
    }
  }
}
#enroll-help{
  color: #525252;
  h3,h4{font-weight: 300 !important;}
  padding: 20px 15px;
  img{
    @include size(60px);
    padding: 5px;
    border: 1px solid black;
    opacity: .7;
    @include border-radius(50%);
  }
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
  button{
    margin-top: 10px;
    &:focus{outline: 0px};
    background: transparent;
    padding: 5px 15px;
    font-size: 18px;
    color: #646464;
    border: 1px solid #646464;
    @include border-radius(30px);
    &:hover{
      color: #969696;
      border: 1px solid #969696;
    }
  }
}
.suggested-box{
  background: #2D2D2D;
  padding: 10px !important;
  color: #BCBBBB;
  font-size: 14px;
  font-weight: lighter;
  .suggested-list-wrapper{
    padding-bottom: 20px;
    #suggested-list{
      border-top: 1px solid #595959;
      border-bottom: 1px solid #595959;
      max-height: 200px;
      overflow-y: scroll;
      padding: 10px 15px;
      .suggested-item{
        margin-bottom: 5px;
        background: rgba(0,0,0,0.2);
        cursor: pointer;
        @include transition(all,.5s,ease-in);
        .image-wrapper{
          position: relative;
          @include size(150px,80px);
          img{
            @include size(150px,80px);
            @include filter(brightness,60%);
          }
          span{
            position: absolute;
            z-index: 5;
            &.time-mark-tag{
              top: 0;
              left: -15px;
              background: #FC6C6C;
              color: white;
              padding: 5px;
              padding-right: 10px;
              @include border-radius(20px);
              i{
                vertical-align: text-bottom;
                background: white;
                color: red;
                font-size: 10px;
                line-height: 15px;
                text-align: center;
                @include size(15px);
                @include border-radius(50%);
              }
            }
            &.duration-tag{
              background: rgba(0,0,0,0.4);
              padding: 5px;
              bottom: 0;
              right: 0;
            }
          }
        }
        @include flexbox();
        .suggested-body{
          p{margin: 0px;}
          span{font-size: 12px;}
          @include flex(1);
          .counter{

          }
          padding: 5px 10px;
          @include animation(0s,1s,bgtransparentize,ease-in);
        }
        &:hover{
          img{
            @include filter(brightness,80%);
          }
          @include transition(all,.5s,ease-in);
        }
      }
    }
  }
  .title{
    i{
      background: #232323;
      color: #FC6A6A;
      @include size(70px);
      @include border-radius(50%);
      line-height: 70px;
      font-size: 23px;
      @include box-shadow(0px 2px 10px rgba(0,0,0,0.2));
      margin-bottom: 5px;
    }
    background: #5C5B5B;
    color: #202020;
    padding: 5px 10px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    @include border-radius(30px);
  }

}

@include keyframes(bgtransparentize){
  50% {
    background: #FD7575;
  }
};

@include keyframes(twinkle){
  50%  {@include opacity(1);}
  100% {
    @include opacity(0);
    @include transform(scale(2,2));
  }
}

@include mquery(990px){
  .player-wrapper {
    margin-top: 55px;
    @include transition(all, 0.5s, ease);
  }
}
@include mquery(600px){
  .player-wrapper{
    .box-options button{
      content: '';
    }
  }
  .suggested-item{
    @include flex-direction(column);
    .image-wrapper{
      width: 100% !important;
      img{
        width: 100% !important;
        object-fit: cover;
      }
    }
    .suggested-body{
      text-align: center;
    }
  }
}
@include mquery(450px) {
  .player-wrapper {
    .creator-box {
      .username, .date, .info {
        display: block;
      }
    }
  }
}
