.unlocker-form-password{
  padding: 20px;
  .message-lock{
    padding: 10px;
    background: #ADABAB;
    border-radius: 10px;
    font-size: 16px;
    p{margin: 0px;}
    i{
      font-size: 19px;
      color: white;
      background: #424040;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    margin-bottom: 10px;
  }
  .error-msg{
    font-size: 16px;
    color: #F54848;
    background: #FE9B9B;
    border-radius: 5px;
    padding: 5px 10px;
  }
  form{
    display: flex;
    border: 1px solid #ADABAB;
    padding: 5px 10px;
    border-radius: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #777676;
    label{
      font-size: 20px;
      margin-top: 5px;
      margin-right: 5px;
    }
    input{
      flex: 1;
      &:focus{outline: 0px;}
      background: transparent;
      border: none;
    }
    button{
      background: #424040 !important;
      padding: 5px  15px !important;
      i{font-size: 16px !important;}
      margin-left: 5px;
      border-radius: 20px !important;
      &:hover{background: #585858 !important;}
    }
  }
  .forgot-link{
    color: #5F5E5E;
  }
}
.unlock-manager{
  padding-bottom: 10px;
  .success-msg{
    color: #636363;
    padding: 10px 15px;
    p{margin-bottom: 0px;}
    h3{
      margin-top: 0px;
      margin-bottom: 10px;
    }
    i{
      background: #5EFEA0;
      height: 40px;
      width: 40px;
      font-size: 20px;
      line-height: 40px;
      border-radius: 50%;
      color: white;
    }
    font-size: 16px;
  }
}
#new-password-form{
  padding: 10px;
  margin: 10px 20px;
  .error-msg{
    font-size: 16px;
    color: #F54848;
    background: #FE9B9B;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .form-item{
    display: flex;
    border: 1px solid #ADABAB;
    padding: 5px 10px;
    border-radius: 30px;
    line-height: 20px;
    margin: 10px 0px;
    label{
      margin-top: 5px;
      margin-right: 5px;
    }
    input{
      flex: 1;
      background: transparent;
      border: none;
      &:focus{outline:0px;}
    }
  }
}
