@import '../../mixins';

.smart-search-box-wrapper{
  padding: 30px 15px 20px;
  position: relative;
  .assisted-search{
    padding: 5px 10px;
    font-size: 16px;
    color: grey;
    background: #F5F4F4;
    @include border-radius(10px);
    margin-top: 10px;
    span{
      font-size: 14px;
      background: #C6C5C5;
      @include border-radius(2px);
      padding: 2px 5px;
      color: #565555;
    }
    strong{font-weight: normal;}
    h4{color: #565555;}
  }
  .results-panel{
    padding: 20px 10px;
    color: #5B5A5A;
    .nav-results{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      border-bottom: 1px solid #AEAEAE;
      .results-filter{
        @include flex-grow(1);
        padding: 5px 0px;
        cursor: pointer;
        &.active{
          border-bottom: 2px solid #F95B5B;
          margin-bottom: -2px;
        }
      }
    }
    .results-wrapper{
      min-height: 300px;
    }
  }

  .helper-search{
    padding: 15px 10px;
    top: 60px;
    left: 15px;
    color: grey;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    p{
      color: #5F6160;
      font-size: 16px;
    }
    ul{
      list-style: none;
      padding: 0px 10px;
      li{
        margin:5px 0px;
        padding: 5px 10px;
        @include border-radius(10px);
        cursor: pointer;
        &.user-item{
          img{
            @include size(50px);
            @include border-radius(20px);
          }
        }
        &:hover{
          background: #EEF0EF;
          i{
            color: #575757;
          }
        }
      }
    }
    i{vertical-align: middle;}
    span{
      background: #5F6160;
      @include border-radius(10px);
      padding: 1px 5px;
      color: white;
      font-weight: 100;
    }
  }
  .search-box{
    border: 1px solid #C7C7C7;
    @include flexbox;
    width: 100%;
    padding: 5px 10px;
    @include border-radius(20px);
    color: #666666;
    .search-icon{
      line-height: 25px;
    }
    #input-search-wrapper{
      margin: 0px 10px;
      @include flex(1);
      @include flexbox;
      background: transparent;
      font-size: 16px;
      height: 25px;
      padding: 2px 0px 0px;
      overflow-x: scroll;
      white-space: nowrap;
      &::-webkit-scrollbar{
        display: none;
      }

      .modifiers-wrapper{
        width: auto;
        @include flex(0 0 auto);
        .modifier{
          border: 1px solid #6FA986;
          background: rgba(94, 188, 96, 0.5);
          padding: 2px 5px;
          @include border-radius(5px);
          &.incomplete{
            border-right: 0px;
            padding-right: 0px;
            @include border-radius(5px 0px 0px 5px);
          }
        }
      }
      input{
        margin-top: -1px;
        @include flex(1 0 30%);
        border: none;
        background: transparent;
        font-size: 16px;
        &:focus{outline: 0px;}
      }
    }

    button{
      border: none;
      background: #ACACAC;
      @include border-radius(10px);
      padding: 0px 12px;
      color: #555555;
      &:focus{
        outline: 0px;
      }
      &:hover{background: #C4C2C2;}
    }
  }
}

@include mquery(500px){
  .results-filter{
    font-size: 15px;
    span{
      display: block;
    }
  }
}