.modal-duckflight{
  display: none;
  align-content: center;
  justify-content: center;
  .modal-dialog{
    .modal-content{
      animation: bubble .5s ease-in;
      .modal-header{
        img{
          height: 40px;
          widht: 40px;
          padding: 2px;
          background: white;
          border-radius: 50%;
          margin-right: 10px;
          vertical-align: bottom;
        }
        background: #FB5B5B;
        border-bottom: 1px solid #D95454;
        .modal-title{
          display: inline-block;
          color: white;
          font-family: roboto, sans-serif;
          font-weight: 100;
          font-size: 20px;
        }
      }
      .modal-body{
        padding: 0px;
      }
    }
  }
  .sign-form{
    .form-field{
      label{
        color: #837272;
      }
      input{
        text-indent: 5px;
        border-color: #837272;
      }
    }
    ul{
      margin: 0px;
      li{margin-top: 5px;}
    }
    a{
      color: #977979;
      &:hover{
        color: #AD8A8A;
      }
    }
  }
}

.modal-login{
  .modal-content{border-radius: 30px;}
  .modal-header{
    border-radius: 28px 28px 0px 0px;
  }
  .modal-body{
    border-radius: 0px 0px 30px 30px;
    .awesome-form{
      border-radius: 0px 0px 28px 28px;
      .form-field{
        label{
          top: 10px;
          font-size: 20px;
          margin-left: 13px;
          &.active{
            transform: none;
            transition: none;
            font-size: 20px;
          }
        }
        input{
          padding: 2px 13px 10px 35px;
          font-size: 16px;
        }
        input:-webkit-autofill{
          -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }
      }
    }
  }
}
