.modal-duckflight{
  display: none;
  align-content: center;
  justify-content: center;
  .modal-dialog{
    .modal-content{
      animation: bubble .5s ease-in;
      .modal-header{
        img{
          height: 40px;
          widht: 40px;
          padding: 2px;
          background: white;
          border-radius: 50%;
          margin-right: 10px;
          vertical-align: bottom;
        }
        background: #FB5B5B;
        border-bottom: 1px solid #D95454;
        .modal-title{
          display: inline-block;
          color: white;
          font-family: roboto, sans-serif;
          font-weight: 100;
          font-size: 20px;
        }
      }
      .modal-body{
        padding: 0px;
      }
    }
  }
  .sign-form{
    .form-field{
      label{
        color: #837272;
      }
      input{
        text-indent: 5px;
        border-color: #837272;
      }
    }
    ul{
      margin: 0px;
      li{margin-top: 5px;}
    }
    a{
      color: #977979;
      &:hover{
        color: #AD8A8A;
      }
    }
  }
}

.modal-login{
  .modal-content{border-radius: 30px;}
  .modal-header{
    .modal-title{font-size: 27px !important;}
    border-radius: 28px 28px 0px 0px;
  }
  .modal-body{
    border-radius: 0px 0px 30px 30px;
    .awesome-form{
      border-radius: 0px 0px 28px 28px;
      .form-field{
        label{
          top: 10px;
          font-size: 20px;
          margin-left: 13px;
          &.active{
            transform: none;
            transition: none;
            font-size: 20px;
          }
        }
        input{
          padding: 2px 13px 10px 35px;
          font-size: 16px;
        }
        input:-webkit-autofill{
          -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }
      }
    }
  }
}
.sign-form{
  .form-group{
    margin-bottom: 10px;
    .form-field{
      margin-top: 5px;
    }
  }
}
.form-separator{
  margin: 25px 0px;
  .separator{
    position: relative;
    border-top: 1px solid grey;
    span{
      position: absolute;
      height: 25px;
      width: 25px;
      bottom: -14px;
      right: 47%;
      background: white;
      border-radius: 50%;
      border: 1px solid grey;
    }
  }
}
.social-button{
  display: flex;
  height: 50px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  .brand{
    width: 50px;
    height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
  }
  .body{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    opacity: .9;
  }
  &.facebook-button{
    background: #4F48B8;
    .brand{background: #36317E;}
  }
  &.google-button{
    background: #FD5E49;
    .brand{background: #CB4A39;}
  }
}

.signing-container{
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B2B1B2;
  background: #DCD8D8;
  border-radius: 0px 0px 25px 25px;
  .signing-msg{
    line-height: 40px;
    i{
      font-size: 40px;
      color: #F96969;
    }
  }
}
