
@import '../../mixins';

.modal-duckflight{
  display: none;
  @include align-content(center);
  @include justify-content(center);
  .modal-dialog{
    .modal-content{
      @include animation(0s, .5s,bubble,ease-in);
      .modal-header{
        img{
          @include size(40px);
          padding: 2px;
          background: white;
          @include border-radius(50%);
          margin-right: 10px;
          vertical-align: bottom;
        }
        background: #FB5B5B;
        border-bottom: 1px solid #D95454;
        .modal-title{
          display: inline-block;
          color: white;
          font-family: roboto, sans-serif;
          font-weight: 100;
          font-size: 20px;
          vertical-align: super;
        }
      }
      .modal-body{
        padding: 0px;
      }
    }
  }
  .sign-form{
    .form-field{
      label{
        color: #837272;
      }
      input{
        text-indent: 5px;
        border-color: #837272;
      }
    }
    ul{
      margin: 0px;
      li{margin-top: 5px;}
    }
    a{
      color: #977979;
      &:hover{
        color: #AD8A8A;
      }
    }
  }
}

.modal-login{
  .modal-content{border-radius: 30px;}
  .modal-header{
    .modal-title{font-size: 27px !important;}
    @include border-radius(28px 28px 0px 0px);
  }
  .modal-body{
    @include border-radius(0px 0px 30px 30px);
    .awesome-form{
      @include border-radius(0px 0px 28px 28px);
      .form-field{
        label{
          top: 10px;
          font-size: 20px;
          margin-left: 13px;
          &.active{
            @include transform(none);
            @include transition(none);
            font-size: 20px;
          }
        }
        input{
          padding: 2px 13px 10px 35px;
          font-size: 16px;
        }
        input:-webkit-autofill{
          @include box-shadow(0 0 0 1000px white inset !important);
        }
      }
    }
  }
}
.sign-form{
  .form-group{
    margin-bottom: 10px;
    .form-field{
      margin-top: 5px;
    }
  }
}
.form-separator{
  margin: 25px 0px;
  .separator{
    position: relative;
    border-top: 1px solid grey;
    span{
      @include position(absolute,$bottom: -14px, $right: 47%);
      @include size(25px);
      @include border-radius(50%);
      background: white;
      border: 1px solid grey;
    }
  }
}
.social-button{
  @include flexbox;
  height: 50px;
  color: white;
  @include border-radius(5px);
  margin-bottom: 10px;
  cursor: pointer;
  .brand{
    @include size(50px);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    font-size: 20px;
    @include border-radius(5px 0px 0px 5px);
  }
  .body{
    @include flex(1);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
  &:hover{
    @include opacity(.9);
  }
  &.facebook-button{
    background: #4F48B8;
    .brand{background: #36317E;}
  }
  &.google-button{
    background: #FD5E49;
    .brand{background: #CB4A39;}
  }
  &.github-button{
    background: #5A5959;
    .brand{background: #3A3939;}
  }
}

.signing-container{
  min-height: 320px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  color: #B2B1B2;
  background: #DCD8D8;
  @include border-radius(0px 0px 25px 25px);
  .signing-msg{
    line-height: 40px;
    i{
      font-size: 40px;
      color: #F96969;
    }
  }
}
