@import '../../../mixins';

.duckflight-panel-info-wrapper{
  padding: 30px 20px;
  .panel-info-message{
    font-size: 20px;
    color: #717171;
  }
  .progress{
    height: 4px;
    margin: 20px 5%;
    background: #2F2F2F;
  }
  strong{
    font-weight: normal;
    font-size: 27px;
  }
  img{
    padding: 5px;
    @include border-radius(50%);
    border: 2px solid #706F6F;
    margin-bottom: 10px;
    height: 70px;
    @include opacity(0.5);
  }
  span{
    font-weight: normal;
  }
  button{
    margin-top: 10px;
    background: transparent;
    padding: 5px 17px;
    border: 1px solid #5F5E5E;
    @include border-radius(27px);
    font-size: 20px;
    color: #5F5E5E;
    @include transition(all, 0.3s, ease);
    &:focus{
      outline: 0px;
    }
    &:hover{
      @include transition(all,0.3s, ease);
      color: grey;
      border-color: grey;
    }
  }
}

.editor-recorder{
  margin-top: 10px;
  .container-fluid{padding: 0px};
  .row{margin: 0px;}
  [class^=col]{padding: 0px;}
  font-family: roboto, sans-serif;
  font-weight: 100;
  background: #262525;
  @include border-radius(10px);
  @include box-shadow(0px 2px 10px grey);
  #editor-recorder{
    z-index: 0;
  }
}

.header-editor{
  background: #3A3838;
  padding: 10px 0px 0px;
  color: white;
  font-size: 20px;
  @include border-radius(10px 10px 0px 0px);
  .navbar-editor{
    border-bottom: 1px solid #DD3F3F;
    font-size: 16px;
    text-align: left;
    p{
      line-height: 30px;
      background: #2E2D2D;
      margin: auto;
      button{
        background: #DD3F3F;
        vertical-align: middle;
        border: none;
        @include size(32px,40px);
        text-align: center;
        &:focus{outline: 0px;}
      }
      span{
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}
.work-space{
  height: 400px;
  padding: 0px;
  position: relative;

  .documents-editor{
    transform: scale(.2,.2);
    @include opacity(0);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2E2D2D;
    z-index: 2;
    padding: 0px;
    @include transition(all, .2s, ease-in);
    &.active{
      @include transform(scale(1,1));
      @include opacity(1);
      visibility: visible;
      @include transition(all, .2s, ease-in);
    }
    .documents-editor-wrapper{
      height: 100%;
      position:relative;
      padding-top: 160px;
      #close{
        position: absolute;
        right: 10px;
        top: 10px;
        background: #3A3A3A;
        padding: 5px 10px;
        @include border-radius(50%);
        cursor: pointer;
        z-index:3;
      }
      .documents-header{
        border-bottom: 1px solid #343333;
        position: absolute;
        top: 0px;
        left: 0px;
        @include size(100%,160px);
        padding: 15px;
        color: #888787;
        font-weight: 100 !important;

        img{
          @include size(90px);
          @include border-radius(50%);
        }
        button{
          position: absolute;
          vertical-align: top;
          @include box-shadow(none);
          background: #FF7575;
        }
        h3{margin: 8px;font-weight:100;}
      }
      .docs-list-wrapper{
        border-top: 1px solid #343333;
        padding: 10px;
        background: #292828;
        height: 100%;
        .docs-list{
          height: 100%;
          overflow-y: scroll;
          padding: 5px;
        }
        .doc-item{
          color: #807F7F;
          @include border-radius(10px);
          padding: 8px 15px;
          cursor: pointer;
          @include flexbox;
          .doc-icon{
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            margin-right: 10px;
            i{
              @include size(50px);
              font-size: 20px;
              line-height: 50px;
              background: #848383;
              @include border-radius(50%);
              color: #353434;
              text-align: center;
            }
          }
          .doc-info{
            @include flex(1);
          }
          &.selected{
            background: #EE5047;
            color: white;
            .doc-icon i{
              background: #292828;
              color: white;
            }
            .options{
              background: #CA7272;
              color: white;
              span{
                background: #740404;
              }

            }
          }
          .config-doc{
            margin-top: 3px;
          }
          .options{
            @include border-radius(10px);
            background: #474646;
            padding: 2px 10px 5px;
            margin-top: 5px;
            color: #302F2F;
            span{
              font-size: 10px;
              background: #747474;
              padding: 2px 5px 3px;
              @include border-radius(10px);
            }
          }
        }
      }
    }

  }
  .editor-wrapper{
    height: 100%;
    position: relative;
    .form-doc-editor{
      position: absolute;
      @include size(100%);
      background: #302F2F;
      z-index: 5;
      display: none;
      &.active{
        display: block;
      }
      .lang.active{
        background: #F06C6C;
      }
      .theme.active{
        background: #8FE4BF;
      }
    }
    #editor-recorder{
      @include size(100%);
    }
    .information-start{
      padding: 30px;
      font-size: 20px;
      height: 100%;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      @include flex-wrap(wrap);
      .information-message{
        button{
          background: transparent;
          padding: 10px 20px;
          border: 1px solid #333;
          &:focus{outline: 0px;}
        }
      }

    }
  }
}
.actions-wrapper{
  background: #3A3838;
  padding: 10px 0px;
  @include border-radius(0px 0px 10px 10px);
  color: #DDDDDD;
  font-size: 12px;
  button{
    border: none;
    @include border-radius(10px);
    background: #4C4C4C;
    margin: 0px 5px;
    padding: 5px 10px;
    font-size: 12px;
    &:hover, &:focus{
      background: #525252;
      outline: 0px;
    }
    i{
      color: #EE5047;
      font-size: 15px;
      vertical-align: top;
    }
    &#save-record i,&#discard-record i{
      color: #DDDDDD;
    }
    &:disabled{
      cursor: no-drop;
      &:hover, &:focus{
        background: #4C4C4C;
      }
    }
  }
  .recording-message{
    color: #DDDDDD;
    @include animation(0s,2s,blink, linear,infinite);
    padding-right: 10px;
    border-right: 1px solid #313131;
    i{color: #EE5047;}
  }
  #timer{
    border-left: 1px solid #313131;
    padding-left: 10px;
  }

}

.progress .loader{
  @include size(100%,4px);
  position: relative;
  overflow: hidden;
  background-color: #BFBDBD;
  &:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    @include size(200px,4px);
    background-color: #FC5959;
    @include animation(0s,2s,uploading,linear, infinite);
  }
}

#loading-recorder-wrapper{
  @include flexbox;
  @include align-items(center);
  @include align-content(center);
  @include flex-direction(column);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  color: #848484;
  .title{
    font-size: 25px !important;
    @include animation(0s,2s,blink, linear,infinite);
  }
  .configure-animation-component{
    width: 80px;
    height: 65px;
    position: relative;
    font-size: 12px;
    color: #959595;
    i{
      &:nth-child(1){
      }
      &:nth-child(2){
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:nth-child(3){
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
#not-supported-wrapper{
  @include flexbox;
  @include align-items(center);
  @include align-content(center);
  @include flex-direction(column);
  @include justify-content(center);
  width: 100%;
  height: 100%;
  padding: 0 20%;
  color: #7F7F7F;
  .message h3{
    font-size: 20px !important;
  }
  img{
    height: 70px;
    width: 70px;
  }
}

/*
  KEYFRAMES
*/


@include keyframes(uploading){
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

@include keyframes(blink){
  0%{@include opacity(1);}
  70%{@include opacity(0);}
}

@include keyframes(bring-from-back){
  0%{
    @include transform(scale(.2,.2));
    @include opacity(0.2);
  }
  100% {
    @include transform(scale(1, 1));
    @include opacity(1);
  }
}