
@import '../../mixins';

.welcome-banner{
  position: relative;
  .banner-description{
    background: #5A5A5A;
  }
  img{
    width: 100%;
    max-height: 300px;
  }
  .main-title{
    position: absolute;
    @include size(100%,300px);
    top: 0;
    z-index: 1;
    @include flexbox;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    margin-bottom: -40px;
    img{
      background: white;
      padding: 3px;
      @include border-radius(50%);
      @include opacity(0.8);
      @include size(56px);
      @include box-shadow(0px 5px 10px rgba(0,0,0,.5));
      display: block;
    }
    h3{
      color: rgba(255,255,255,.7);
      font-size: 30px;
      font-family: roboto, sans-serif;
      font-weight: 100;
      font-style: italic;
      letter-spacing: .5pt;
      margin: 5px;
      text-shadow: 0px 5px 10px rgba(0,0,0,.5);
    }
  }
 }

.home-section{
  padding: 15px 15px 0px;
  .head {
    span{
      background: #3D986E;
      @include border-radius(20px);
      padding: 5px 15px;
      color: #FAF8F8;
      font-weight: 100;
    }
    font-size: 17px;
    font-weight: 400;
  }
  .content-home-section{
    padding: 0px 15px;
    .description{
      font-size: 15px;
      span{font-weight: 400;}
    }
    .body{
      .task{
        background: #F5F4F4;
        padding-left: 30px;
        @include border-radius(10px);
        margin-bottom: 10px;
        a{
          font-size: 14px;
          padding-top: 10px;
          color: #DD4242;
          &:hover{text-decoration:underline;}
        }
        .title{
          cursor: pointer;
          margin: 0px;
          line-height: 36px;

          button{
            border: none;
            background: transparent;
            font-size: 13px;
            &:focus{outline: 0}
          }
        }
        .task-body{
          padding: 10px 15px;
          font-size: 14px;
          .task-item{
            margin-bottom: 10px;
            &:hover{
              background: #E3E1E1;
              cursor: pointer;
            }
            @include border-radius(5px);
            padding: 10px;
            p{margin-bottom: 5px;}
            .description{
              padding-left: 15px;
              margin: 0;
            }
          }
        }
        &.done{
          .done-icon{
            color: #3C7A63;
            font-size: 18px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.explore-content-home-section{
  padding: 15px 30px;
  h4 span{
    background: #7CBCF7;
    @include border-radius(20px);
    padding: 5px 15px;
    color: #FAF8F8;
    font-weight: 100;
    &.recommended{
      background: #FA9292;
    }
  }
  .not-found-msg{
    margin-top: 25px;
    padding: 35px 15px;
    background: #E8E7E7;
    @include border-radius(20px);
    font-size: 14px;
    color: #7F7F7F;
    i{font-size: 45px;}
  }
  section{
    border-bottom: 1px solid #DBDBDB;
    padding: 10px 15px;
    p{
      font-size: 20px;
      color: #535453;
      button{
        border: none;
        background: #AEAFAE;
        @include border-radius(10px);
        padding: 2px 7px;
        font-size: 14px;
        &:focus{
          outline: 0px;
        }
        &:hover{
          background: #D1D2D2;
        }
      }
    }
    .item{
      margin: 3px;
      min-width: 100px;
      img{
        display: block;
        width: 100%;
        min-height: 100px;
        max-height: 200px;
        object-fit: cover;
      }
    }
  }
}

.help-section{
  background: #D1D1D1;
  @include border-radius(10px);
  color: #5C5B5B;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  h4{color: #5D5C5C;}
  p{margin: 0;}
  a{
    color: #473D3D;
    text-decoration: underline;
    &:hover{
      color: #261B1B;
      text-decoration: underline;
    }
  }
  img{
    @include size(60px);
    width: 60px;
    padding: 5px;
    @include border-radius(50%);
    border: 2px solid black;
    @include opacity(.5);
  }
  .help-item{
    @include flexbox();
    @include align-items(center);
    padding: 10px;
    margin-top: 5px;
    background: #B5AAAA;
    .help-msg{
      @include flex(1);
      padding: 0px 10px;
    };
    .help-icon-header{
      i{
        color: #DAD8D8;
        @include size(40px);
        line-height: 40px;
        font-size: 20px;
        @include border-radius(50%);
        background: rgba(0,0,0,0.6);
      }
    }
    @include border-radius(5px);
  }
}