@import '../../mixins';
#main-wrapper{
  padding-left: 0;
  @include size(100%);
  top: 0;
  position: relative;
  overflow-y: scroll;
}

#page-wrapper{
  padding-left: 240px;
  position: relative;
  @include size(100%);
  top:0;
  @include transition(all, 0.5s, ease);
}


/*media*/
@include mquery(990px){
  #page-wrapper{
    padding-left: 0px;
    @include transition(all, 0.5s, ease);
  }
}