
@import '../../mixins';

.loading-wrapper{
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include size(100%);
}

.signal {
  @include border-radius(50%);
  @include size(30px);
  background: #BB3021;
  @include opacity(0);
  top: 50%;
  margin: 5px;
  display: inline-block;
  @include animation(0s, 1s, pulsate, ease-out, infinite);

  &.signal-2{  @include animation(0.18s, 1s, pulsate,ease-out,infinite); }
  &.signal-3{  @include animation(0.35s, 1s, pulsate,ease-out,infinite); }
}

@include keyframes(pulsate){
  0% {
    @include transform(scale(.1));
    @include opacity(0.0);
  }
  50% {
    @include opacity(1);
  }
  100% {
    @include transform(scale(1));
    @include opacity(0);
  }
}