@import '../../mixins';

.messages-notifications{
  position: fixed;
  z-index: 200;
  top: 45px;
  right: 0;
  padding: 20px 0px;
  width: 0;
  border: 1px solid black;

  .notification-alert{
    position: relative;
    z-index: 200;
    padding: 10px 10px 10px 55px;
    color: white;
    @include size(290px,50px);
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
    @include box-shadow(0px 2px 10px black);
    @include animation(0s,5s,alertNotif,ease-in);
    img{
      position: absolute;
      @include size(100%,50px);
      top: 0;
      left: 0;
    }
  }
}

@include keyframes(alertNotif){
  0%,100%{
    margin-left: 0px;
    @include opacity(0);
  }
  10%,90%{
    margin-left: -300px;
    @include opacity(1);
  }
}

@include mquery(990px){
  .messages-notifications {
    top: 45px;
    @include transition(all, 0.5s, ease);
  }
}