@import '../../mixins';

/**
 * HEADER
 */

#duckflight-navbar{
  background: #DD4242;
  padding: 12px 20px;
  position: fixed;
  @include size(100%,45px);
  z-index: 100;
  top: -60px;
  @include box-shadow(0px 2px 10px #373637);
  @include transition(all, 0.5s, ease);
  visibility: hidden;
  span{
    margin-right: 20px;
  }
  i{
    cursor: pointer;
    font-size: 20px;
    color: #E3E2E2;
    &:hover{color: white;}
  }
}

/*media*/
@include mquery(990px){
  #duckflight-navbar{
    top: 0;
    visibility: visible;
    @include transition(all, 0.5s, ease);
  }
}
/**
 * END HEADER
 */

.tutorials-navbar{
  background: #5953FE !important;
}

.features-navbar{
  background: #DC6026 !important;
}