@import '../../../mixins';

.floating-message-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  @include size(100%);
  @include flexbox;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding-left: 240px;
  background: rgba(0,0,0,0.6);
  @include transition(all, 0.5s, ease);

  .floating-message{
    background: #ADACAC;
    padding: 10px 30px 10px 15px;
    @include border-radius(10px);
    @include flexbox;
    align-items:center;
    color: #4E4E4E;
    i{
      @include size(40px);
      @include border-radius(50%);
      text-align: center;
      background: #4E4E4E;
      color: #D7D5D5;
      line-height: 40px;
      font-size: 21px;
    }
    .message{
      margin-left: 10px;
      @include flex(1);
      .progress{
        background: transparent;
        @include border-radius(0px);
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }
}

.page-banner-content-transparent{
  color: #6A6969;
  font-size: 16px;
  h3{font-size: 30px;}
  img{
    @include border-radius(50%);
    @include size(120px);
    padding: 5px;
    border: 2px solid #393838;
    margin-top: 10px;
    object-fit: cover;
  }
  p{
    &.username{
      font-size: 18px;
      color: #393838;
      margin-bottom: 10px;
      font-weight: normal;
    }
  }
  margin-bottom: 30px;
}

.remove-item{
  position: relative;
  @include flexbox;
  padding: 10px 0px;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.1);
  @include border-radius(10px);
  img, .title{cursor: pointer;}
  img:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
  .title:hover{
    font-weight: 500;
  }
  .actions-item{
    position: absolute;
    top: 10px;
    right: 10px;
    button{
      background: rgba(0,0,0,0.7);
      border: none;
      @include border-radius(50%);
      color: white;
      @include size(30px);
      &:focus{outline: 0px;}
      &:hover{color:#F75A5A;}
    }
  }
  .contact-avatar{
    padding: 5px 10px;
    img{
      @include size(70px);
      @include border-radius(50%);
    }
  }
  .thumbnail-item{
    padding: 5px 10px;
    position: relative;
    img{
      @include size(150px, 100px);
      object-fit: cover;
    }
    .duration{
      position: absolute;
      bottom: 5px;
      right: 10px;
      padding: 2px 8px;
      font-size: 14px;
      color: #C4C4C4;
      background: rgba(0,0,0,0.7);
    }
  }
  .caption-item{
    padding: 5px 10px;
    .title{
      margin: 0px;
      font-size: 16px;
    }
    .description{
      font-size: 13px;
      color: #636363;
    }
    .date, .counters{
      font-size: 12px;
      color: #7B7A7A;
      display: inline-block;
    }
    .counters{
      &::before{
        content: ' · '
      }
      i{font-size: 13px;}
      span{margin-right: 5px;}
    }
  }
}
.no-data-found-message{
  &.block{
    background: #D0D0D0;
    padding: 20px;
    @include border-radius(20px);
  }
  img{
    height: 50px;
    width: 50px;
    @include border-radius(50%);
    border: 2px solid grey;
    padding: 3px;
    @include opacity(.4);
    margin-bottom: 10px;
  }
}
.list-remove{
  #load-more-button{
    border: 1px solid #C9C8C8;
    &:hover{
      border: 1px solid #B0AFAF;
    }
  }
}

.delete-info{
  background: #F97A7A;
  color: #4B2C2C;
  @include border-radius(40px);
  padding: 5px 20px;
  margin-bottom: 20px;
}
@media (max-width: 720px){
  .remove-item{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .thumbnail-item, .caption-item{
      display: block;
      text-align: center;
    }
    .caption-item{width: 100%;}
  }
}

@media (max-width: 990px){
  .floating-mesage-wrapper{
    padding-left: 0px;
    @include transition(all, 0.5s, ease);
  }
}